torch>=2.4
torchvision>=0.19
torchaudio>=2.4
gymnasium[atari,accept-rom-license]==0.29.1
ale-py==0.8.1
opencv-python>=4.8
numpy>=1.26
pandas>=2.2
matplotlib>=3.8
tqdm>=4.66
PyYAML>=6.0
tensorboard>=2.17
mlflow>=2.14
optuna>=3.6
imageio>=2.34
imageio-ffmpeg>=0.5
